{% extends "core/base.html" %}

{% block content %}
    <section class="container pt-5">
        <h1 class="title pb-4">Liste des Employers</h1>
        {% for employer in employers %}
            <table class="table">
                    <thead>
                        <tr>
                        <th><abbr title="Nom">Nom</abbr></th>
                        <th><abbr title="Drawn">Editer</abbr></th>
                        <th><abbr title="Drawn">Delete</abbr></th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                    <td><a href="{% url 'detail' employer.id %}"><strong>{{ employer.nom }}</strong></a></td>
                    <td><a href="{% url 'edit' employer.id %}" class="navbar-item has-text-primary"><strong>Editer</strong></a></td>
                    <td><a href="{% url 'delete' employer.id %}" class="navbar-item has-text-danger"><strong>Delete</strong></a></td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    </section>
{% endblock %}